.page-auth {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    margin: auto;
	.auth-box {
		margin: auto;
		max-width: 600px;
		padding: 30px 30px;
	}
	.forgot-password-link {
		float:right;
		font-size:12px;
    }
    
    .auth-logo {
        max-width: 250px;
    }
}
