.page-interest {
	.filter-options {
		position: relative;
		top: 6px;
		.filter-option {
			margin-right: 12px;
			padding-right: 12px;
			cursor: pointer;
			border-right: 1px solid #d1d1d1;
			&:last-child {
				border-right: 0;
			}
			&.active {
				.filter-option-title {
					background-color: #CF0403;
					color: #fff;
					padding: 0px 12px;
					border-radius: 20px;
				}
			}
		}
	}
}