.border-1 {
	border: 1px solid #d1d1d1;
}

.border-2 {
	border: 2px solid #d1d1d1;
}

.border-radius-lg {
	border-radius: .75rem;
}

.border-radius-md {
    border-radius: .5rem;
}

.border-radius-sm {
    border-radius: .25rem;
}